%html.no-js{:lang => 'en'}
	%head
		%meta{:charset => 'utf-8'}
		%meta{:'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge'}
		%title Bo | Creative Blog / Portfolio
		%meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1'}
		/ Fonts
		%link{:type => 'text/css', :media => 'screen', :rel => 'stylesheet', :href => 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900'}
		%link{:type => 'text/css', :media => 'screen', :rel => 'stylesheet', :href => 'http://fonts.googleapis.com/css?family=Montserrat:400,700'}
		%link{:type => 'text/css', :media => 'screen', :rel => 'stylesheet', :href => 'assets/css/font-awesome.min.css'}
		/ Stylesheets
		%link{:type => 'text/css', :media => 'screen', :rel => 'stylesheet', :href => 'assets/css/bootstrap.min.css'}
		%link{:type => 'text/css', :media => 'screen', :rel => 'stylesheet', :href => 'assets/css/style.css'}
	%body
		.container
			.row
				.col-md-12
					%nav.navbar
						.navbar-header
							%button.navbar-toggle.collapsed{:type => 'button', :'data-toggle' => 'collapse', :'data-target' => '#navbar-collapse'}
								- 3.times do
									%span.icon-bar
							%a.navbar-brand{:href => '#'}
								%img{:src => 'assets/img/logo.png'}
						.navbar-collapse.collapse#navbar-collapse
							.navbar-form.navbar-right{:role => 'search'}
								%a.navbar-form-toggle{:href => '#'}
								%form
									.form-group
										%input.form-control{:type => 'text', :placeholder => 'Type here and hit enter...'}
										%button.btn.btn-default{:type => 'submit'}
											%i.fa.fa-search
							%ul.nav.navbar-nav.navbar-social.navbar-right
								%li
									%a{:href => '#'}
										%i.fa.fa-facebook
								%li
									%a{:href => '#'}
										%i.fa.fa-twitter
								%li
									%a{:href => '#'}
										%i.fa.fa-linkedin
								%li
									%a{:href => '#'}
										%i.fa.fa-rss
							%ul.nav.navbar-nav.navbar-left
								%li.active
									%a{:href => '#'} Home
								%li.dropdown
									%a.dropdown-toggle{:href => '#', :'data-toggle' => 'dropdown', :role => 'button', :'aria-expanded' => 'false'} Tutorials
									%ul.dropdown-menu{:role => 'menu'}
										%li
											%a{:href => '#'} Webdesign Tutorials
										%li
											%a{:href => '#'} Photoshop Tutorials
										%li
											%a{:href => '#'} HTML & CSS Tutorials
										%li
											%a{:href => '#'} PHP Tutorials
										%li
											%a{:href => '#'} Game Development
										%li.dropdown
											%a.dropdown-toggle{:href => '#', :'data-toggle' => 'dropdown', :role => 'button', :'aria-expanded' => 'false'} Computer Skills
											%ul.dropdown-menu{:role => 'menu'}
												%li
													%a{:href => '#'} Development
												%li
													%a{:href => '#'} Design
												%li
													%a{:href => '#'} WooCommerce
								%li
									%a{:href => '#'} eBooks
								%li
									%a{:href => '#'} Articles
								%li
									%a{:href => '#'} Freebies
								%li
									%a{:href => '#'} About
								%li
									%a{:href => '#'} Contact
		%nav.navbar.navbar-static
			.container
				.row
					.col-md-12
						.navbar-header
							%button.navbar-toggle.collapsed{:type => 'button', :'data-toggle' => 'collapse', :'data-target' => '#navbar-collapse'}
								- 3.times do
									%span.icon-bar
							%a.navbar-brand{:href => '#'}
								%img{:src => 'assets/img/logo.png'}
						.navbar-collapse.collapse#navbar-collapse
							.navbar-form.navbar-right{:role => 'search'}
								%a.navbar-form-toggle{:href => '#'}
								%form
									.form-group
										%input.form-control{:type => 'text', :placeholder => 'Type here and hit enter...'}
										%button.btn.btn-default{:type => 'submit'}
											%i.fa.fa-search
							%ul.nav.navbar-nav.navbar-social.navbar-right
								%li
									%a{:href => '#'}
										%i.fa.fa-facebook
								%li
									%a{:href => '#'}
										%i.fa.fa-twitter
								%li
									%a{:href => '#'}
										%i.fa.fa-linkedin
								%li
									%a{:href => '#'}
										%i.fa.fa-rss
							%ul.nav.navbar-nav.navbar-left
								%li.active
									%a{:href => '#'} Home
								%li.dropdown
									%a.dropdown-toggle{:href => '#', :'data-toggle' => 'dropdown', :role => 'button', :'aria-expanded' => 'false'} Tutorials
									%ul.dropdown-menu{:role => 'menu'}
										%li
											%a{:href => '#'} Webdesign Tutorials
										%li
											%a{:href => '#'} Photoshop Tutorials
										%li
											%a{:href => '#'} HTML & CSS Tutorials
										%li
											%a{:href => '#'} PHP Tutorials
										%li
											%a{:href => '#'} Game Development
										%li.dropdown
											%a.dropdown-toggle{:href => '#', :'data-toggle' => 'dropdown', :role => 'button', :'aria-expanded' => 'false'} Computer Skills
											%ul.dropdown-menu{:role => 'menu'}
												%li
													%a{:href => '#'} Development
												%li
													%a{:href => '#'} Design
												%li
													%a{:href => '#'} WooCommerce
								%li
									%a{:href => '#'} eBooks
								%li
									%a{:href => '#'} Articles
								%li
									%a{:href => '#'} Freebies
								%li
									%a{:href => '#'} About
								%li
									%a{:href => '#'} Contact
		%script{:src => 'assets/js/jquery-1.11.3.min.js'}
		%script{:src => 'assets/js/modernizr.js'}
		%script{:src => 'assets/js/bootstrap.min.js'}
		%script{:src => 'assets/js/scrollReveal.js'}
		%script{:src => 'assets/js/script.js'}