body {
  background: #f5f5f5;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Heading */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
/* END Heading */
/* Button */
.btn {
  border: 2px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  padding: 14px 30px;
  color: #313035;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.1;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btn:hover,
.btn:active {
  background: #ffffff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.btn-primary {
  background: #ffffff;
}
.btn.btn-primary:hover,
.btn.btn-primary:active {
  color: #0e4b81;
  border-color: #0e4b81;
}
.btn.btn-rounded {
  width: 46px;
  height: 46px;
  padding: 14px 0;
  text-align: center;
}
.btn.btn-sm {
  padding: 7px 20px;
  font-size: 11px;
}
/* END Button */
/* Form Group */
.form-group .form-control {
  height: auto;
  border: 2px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 14px 30px;
  color: #313035;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* END Form Group */
/* Code */
code {
  background: rgba(65, 64, 70, 0.04);
}
/* END Code */
/* Pre */
pre {
  background: rgba(65, 64, 70, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.05);
}
/* END Pre */
.navbar {
  background: #ffffff;
  border: 0;
  padding: 0 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.navbar .navbar-header .navbar-toggle {
  margin: 33px 15px 0 8px;
}
.navbar .navbar-header .navbar-toggle .icon-bar {
  background: #595d61;
}
.navbar .navbar-header .navbar-brand {
  height: auto;
  margin: 0 80px 0 0;
  padding: 34px 19px;
}
.navbar .navbar-header .navbar-brand img {
  max-height: 41px;
  margin: -5px 0;
}
.navbar .navbar-collapse .nav li a {
  margin: 0 20px;
  padding: 42px 0;
  color: #313035;
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
}
.navbar .navbar-collapse .nav li a:hover,
.navbar .navbar-collapse .nav li a:active,
.navbar .navbar-collapse .nav li a:focus {
  background: 0;
  color: #0e4b81;
}
.navbar .navbar-collapse .nav li:last-child a {
  margin: 0 0 0 20px;
}
.navbar .navbar-collapse .nav li.active a {
  color: #0e4b81;
  -webkit-box-shadow: inset 0px -2px 0 0px #0e4b81;
  -moz-box-shadow: inset 0px -2px 0 0px #0e4b81;
  box-shadow: inset 0px -2px 0 0px #0e4b81;
}
.navbar .navbar-collapse .nav li.dropdown .dropdown-menu {
  background: #27272a;
  width: 215px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  padding: 15px 0;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.navbar .navbar-collapse .nav li.dropdown .dropdown-menu li a {
  margin: 0;
  padding: 15px 25px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
}
.navbar .navbar-collapse .nav li.dropdown .dropdown-menu li a:hover {
  background: rgba(255, 255, 255, 0.05);
}
.navbar .navbar-collapse .nav li.dropdown .dropdown-menu li.dropdown.open > a {
  background: rgba(255, 255, 255, 0.1);
}
.navbar .navbar-collapse .nav li.dropdown .dropdown-menu li.dropdown .dropdown-menu {
  top: 0;
  left: 100%;
}
.navbar .navbar-collapse .nav li.dropdown.open a {
  background: 0;
  color: #0e4b81;
}
.navbar .navbar-collapse .nav.navbar-social {
  margin: 0;
}
.navbar .navbar-collapse .nav.navbar-social li a {
  margin: 0 15px 0 0;
  padding: 42px 0;
}
.navbar .navbar-collapse .nav.navbar-social li:last-child a {
  margin: 0;
}
.navbar .navbar-collapse .navbar-form {
  border: 0;
  padding: 0;
  margin: 0;
  padding: 29px 0;
  float: left;
}
.navbar .navbar-collapse .navbar-form .navbar-form-toggle {
  position: relative;
  z-index: 2;
  display: inline-block;
  background: #f8f8f8;
  width: 40px;
  height: 40px;
  margin: 0 0 0 35px;
  color: #313035;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.navbar .navbar-collapse .navbar-form .navbar-form-toggle:before {
  content: '';
  font-family: 'FontAwesome';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navbar .navbar-collapse .navbar-form form {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background: #ffffff;
  width: 0%;
  height: 100%;
  max-height: 101px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.navbar .navbar-collapse .navbar-form form .form-group {
  width: 100%;
}
.navbar .navbar-collapse .navbar-form form .form-group .form-control {
  width: 100%;
  height: 100%;
  border: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}
.navbar .navbar-collapse .navbar-form form .form-group .btn {
  display: none;
}
.navbar .navbar-collapse .navbar-form.open .navbar-form-toggle {
  background: #0e4b81;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  color: #ffffff;
}
.navbar .navbar-collapse .navbar-form.open .navbar-form-toggle:before {
  content: '';
}
.navbar .navbar-collapse .navbar-form.open form {
  width: 100%;
  opacity: 1;
  visibility: visible;
}
@media (max-width: 767px) {
  .navbar .navbar-collapse .navbar-form {
    width: 100%;
    padding: 0;
  }
  .navbar .navbar-collapse .navbar-form .navbar-form-toggle {
    display: none;
  }
  .navbar .navbar-collapse .navbar-form form {
    position: relative;
    top: auto;
    left: auto;
    display: block;
    width: 100%;
    height: auto;
    opacity: 1;
    visibility: visible;
  }
  .navbar .navbar-collapse .navbar-form form .form-group .form-control {
    height: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
    padding: 15px 5px;
    font-size: 14px;
    line-height: 1;
  }
  .navbar .navbar-collapse .nav {
    margin: 0;
  }
  .navbar .navbar-collapse .nav li a {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 0;
    padding: 20px 0;
    line-height: 1;
  }
  .navbar .navbar-collapse .nav li a:hover {
    color: #0e4b81;
  }
  .navbar .navbar-collapse .nav li.dropdown .dropdown-menu {
    position: relative;
    top: auto;
    left: auto;
    display: block;
    background: 0;
    width: 100%;
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .navbar .navbar-collapse .nav li.dropdown .dropdown-menu li a {
    color: #595d61;
  }
  .navbar .navbar-collapse .nav li.dropdown .dropdown-menu li a:hover {
    color: #0e4b81 !important;
  }
  .navbar .navbar-collapse .nav li.dropdown .dropdown-menu li a:before {
    content: '- ';
  }
  .navbar .navbar-collapse .nav li.dropdown .dropdown-menu li.dropdown .dropdown-menu {
    position: relative;
    display: block;
    top: auto;
    left: auto;
    padding: 0 0 0 30px;
  }
  .navbar .navbar-collapse .nav li:last-child a {
    margin: 0;
  }
  .navbar .navbar-collapse .nav li.active a {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .navbar .navbar-collapse .nav.navbar-social {
    display: block;
  }
  .navbar .navbar-collapse .nav.navbar-social li {
    display: inline-block;
  }
  .navbar .navbar-collapse .nav.navbar-social li a {
    height: 45px;
    margin: 0 26px 0 0;
    padding: 0;
    line-height: 45px;
    text-align: center;
    -webkti-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .navbar .navbar-collapse .nav.navbar-social li a .fa {
    line-height: 45px;
  }
}
#hero {
  padding: 99px 0 0;
}
#hero .item {
  max-height: 500px;
}
#testimonials {
  background: #373b43;
  padding: 30px 0;
  color: #ffffff;
}
#testimonials .section-title {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
#testimonials .carousel-indicators {
  bottom: 0;
}
#testimonials .item {
  padding: 30px 0 30px;
  color: #f2f3f5;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}
#testimonials .item .quote {
  margin: 0 0 30px;
  font-style: italic;
  font-size: 16px;
}
#testimonials .item .quote:before,
#testimonials .item .quote:after {
  content: '"';
}
#testimonials .item .avatar {
  height: 60px;
  width: 60px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  margin: 0 auto 15px;
  overflow: hidden;
}
#testimonials .item .avatar img {
  width: 100%;
}
#testimonials .item .author {
  margin: 0;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
}
#testimonials .item .company {
  color: #f2f3f5;
  font-style: italic;
}
.blurb {
  display: block;
  background: #313035;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 200px;
  margin: 30px 0;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.blurb h3 {
  font-size: 22px;
  font-weight: regular;
}
.blurb:hover {
  background-color: #252628 !important;
  color: #ffffff;
  text-decoration: none;
}
.footer {
  background: #313035;
  padding: 50px 0;
  color: #ffffff;
  font-size: 13px;
}
.footer .copyright {
  margin: 0;
}
.footer .footer-nav {
  list-style: none;
  margin: 0;
}
.footer .footer-nav li {
  display: inline-block;
  margin: 0 20px 0 0;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
}
.footer .footer-nav li a {
  color: #949396;
  text-decoration: none;
}
.footer .footer-nav li a:hover {
  color: #ffffff;
}
.footer .footer-nav li.active a {
  color: #ffffff;
}
.footer .footer-nav li:last-child {
  margin: 0;
}
.footer .footer-nav.footer-social li {
  margin: 0 15px 0 0;
}
.footer .footer-nav.footer-social li a {
  color: #949396;
}
.footer .footer-nav.footer-social li a:hover {
  color: #ffffff;
}
.footer .footer-nav.footer-social li:last-child {
  margin: 0;
}
